<?xml version="1.0" encoding="UTF-8"?>
<mxfile host="app.diagrams.net" modified="2023-03-24T15:05:28.182Z" agent="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36" etag="rxI7SWVUjKwgEdIvOmQ3" version="21.1.0" type="google">
  <diagram name="Page-1" id="FSgDwg14SxxTdtgcIDM9">
    <mxGraphModel dx="2261" dy="1859" grid="1" gridSize="10" guides="1" tooltips="1" connect="1" arrows="1" fold="1" page="1" pageScale="1" pageWidth="827" pageHeight="1169" math="0" shadow="0">
      <root>
        <mxCell id="0" />
        <mxCell id="1" parent="0" />
        <mxCell id="LckcoSEGjGpX4WUM62JQ-1" value="Replication" style="ellipse;whiteSpace=wrap;html=1;aspect=fixed;fillColor=#80FF00;fontSize=16;" parent="1" vertex="1">
          <mxGeometry x="360" y="280" width="160" height="160" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-2" value="Single-Leader Replication" style="ellipse;whiteSpace=wrap;html=1;aspect=fixed;fillColor=#FF9933;fontSize=16;" parent="1" vertex="1">
          <mxGeometry x="375" y="10" width="130" height="130" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-5" value="Multi-Leader Replication" style="ellipse;whiteSpace=wrap;html=1;aspect=fixed;fillColor=#CC99FF;fontSize=16;" parent="1" vertex="1">
          <mxGeometry x="90" y="530" width="130" height="130" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-7" value="Set Up New Follower" style="ellipse;whiteSpace=wrap;html=1;aspect=fixed;fillColor=#FFD966;fontSize=12;" parent="1" vertex="1">
          <mxGeometry x="505" y="-110" width="100" height="100" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-8" value="Leaderless Replication" style="ellipse;whiteSpace=wrap;html=1;aspect=fixed;fillColor=#A9C4EB;fontSize=16;" parent="1" vertex="1">
          <mxGeometry x="680" y="530" width="130" height="130" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-9" value="" style="endArrow=none;html=1;rounded=0;exitX=1;exitY=0;exitDx=0;exitDy=0;entryX=0;entryY=1;entryDx=0;entryDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-5" target="LckcoSEGjGpX4WUM62JQ-1" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="390" y="400" as="sourcePoint" />
            <mxPoint x="440" y="350" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-10" value="" style="endArrow=none;html=1;rounded=0;exitX=0;exitY=0;exitDx=0;exitDy=0;entryX=1;entryY=1;entryDx=0;entryDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-8" target="LckcoSEGjGpX4WUM62JQ-1" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="211" y="559" as="sourcePoint" />
            <mxPoint x="393" y="427" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-11" value="" style="endArrow=none;html=1;rounded=0;exitX=0.5;exitY=0;exitDx=0;exitDy=0;entryX=0.5;entryY=1;entryDx=0;entryDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-1" target="LckcoSEGjGpX4WUM62JQ-2" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="709" y="559" as="sourcePoint" />
            <mxPoint x="507" y="427" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-12" value="Leader-Based Replication" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#FF9933;strokeColor=#b85450;" parent="1" vertex="1">
          <mxGeometry x="110" y="10" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-14" value="Replica" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#FF9933;strokeColor=#b85450;" parent="1" vertex="1">
          <mxGeometry x="110" y="-80" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-16" value="Leader (Master)" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#FF9933;strokeColor=#b85450;" parent="1" vertex="1">
          <mxGeometry x="180" y="-170" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-17" value="Follower (Secondary)" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#FF9933;strokeColor=#b85450;" parent="1" vertex="1">
          <mxGeometry x="300" y="-260" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-18" value="Read-Only Nodes" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#FF9933;strokeColor=#b85450;" parent="1" vertex="1">
          <mxGeometry x="380" y="-150" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-19" value="Synchronous Replication" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#FF9933;strokeColor=#b85450;" parent="1" vertex="1">
          <mxGeometry x="100" y="120" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-20" value="Asynchronous Replication" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#FF9933;strokeColor=#b85450;" parent="1" vertex="1">
          <mxGeometry x="230" y="190" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-21" value="Catch Up to &lt;br&gt;Leader" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#FFD966;strokeColor=#b85450;" parent="1" vertex="1">
          <mxGeometry x="460" y="-230" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-22" value="Database &lt;br&gt;Snapshot" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#FFD966;strokeColor=#b85450;" parent="1" vertex="1">
          <mxGeometry x="590" y="-270" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-23" value="Node &lt;br&gt;Outage" style="ellipse;whiteSpace=wrap;html=1;aspect=fixed;fillColor=#EA6B66;fontSize=12;" parent="1" vertex="1">
          <mxGeometry x="590" y="-20" width="100" height="100" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-24" value="Split Brain" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#EA6B66;strokeColor=#b85450;" parent="1" vertex="1">
          <mxGeometry x="790" y="-80" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-25" value="Follower Failure" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#EA6B66;strokeColor=#b85450;" parent="1" vertex="1">
          <mxGeometry x="640" y="-170" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-26" value="Leader Failure" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#EA6B66;strokeColor=#b85450;" parent="1" vertex="1">
          <mxGeometry x="790" y="-170" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-27" value="" style="endArrow=none;html=1;rounded=0;exitX=1;exitY=0.5;exitDx=0;exitDy=0;entryX=0;entryY=1;entryDx=0;entryDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-19" target="LckcoSEGjGpX4WUM62JQ-2" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="390" y="90" as="sourcePoint" />
            <mxPoint x="440" y="40" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-28" value="" style="endArrow=none;html=1;rounded=0;exitX=1;exitY=0.5;exitDx=0;exitDy=0;entryX=0;entryY=1;entryDx=0;entryDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-12" target="LckcoSEGjGpX4WUM62JQ-2" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="325" y="170" as="sourcePoint" />
            <mxPoint x="404" y="131" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-29" value="" style="endArrow=none;html=1;rounded=0;exitX=1;exitY=0.5;exitDx=0;exitDy=0;entryX=0;entryY=0.5;entryDx=0;entryDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-14" target="LckcoSEGjGpX4WUM62JQ-2" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="250" y="120" as="sourcePoint" />
            <mxPoint x="404" y="131" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-31" value="" style="endArrow=none;html=1;rounded=0;exitX=0.75;exitY=1;exitDx=0;exitDy=0;entryX=0;entryY=0;entryDx=0;entryDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-16" target="LckcoSEGjGpX4WUM62JQ-2" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="320" y="-80" as="sourcePoint" />
            <mxPoint x="385" y="85" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-32" value="" style="endArrow=none;html=1;rounded=0;exitX=0.25;exitY=1;exitDx=0;exitDy=0;entryX=0;entryY=0;entryDx=0;entryDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-17" target="LckcoSEGjGpX4WUM62JQ-2" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="340" y="-130" as="sourcePoint" />
            <mxPoint x="404" y="39" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-33" value="" style="endArrow=none;html=1;rounded=0;exitX=0.25;exitY=1;exitDx=0;exitDy=0;entryX=0.5;entryY=0;entryDx=0;entryDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-18" target="LckcoSEGjGpX4WUM62JQ-2" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="420" y="-180" as="sourcePoint" />
            <mxPoint x="404" y="39" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-34" value="" style="endArrow=none;html=1;rounded=0;exitX=0;exitY=1;exitDx=0;exitDy=0;entryX=1;entryY=0;entryDx=0;entryDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-7" target="LckcoSEGjGpX4WUM62JQ-2" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="510" y="-80" as="sourcePoint" />
            <mxPoint x="450" y="20" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-35" value="" style="endArrow=none;html=1;rounded=0;exitX=0.5;exitY=1;exitDx=0;exitDy=0;entryX=0.5;entryY=0;entryDx=0;entryDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-21" target="LckcoSEGjGpX4WUM62JQ-7" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="610" y="-10" as="sourcePoint" />
            <mxPoint x="496" y="39" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-36" value="" style="endArrow=none;html=1;rounded=0;exitX=0.25;exitY=1;exitDx=0;exitDy=0;entryX=1;entryY=0;entryDx=0;entryDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-22" target="LckcoSEGjGpX4WUM62JQ-7" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="690" y="-120" as="sourcePoint" />
            <mxPoint x="660" y="-60" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-37" value="" style="endArrow=none;html=1;rounded=0;exitX=0.25;exitY=1;exitDx=0;exitDy=0;entryX=0.5;entryY=0;entryDx=0;entryDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-25" target="LckcoSEGjGpX4WUM62JQ-23" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="760" y="-50" as="sourcePoint" />
            <mxPoint x="695" y="-45" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-38" value="" style="endArrow=none;html=1;rounded=0;exitX=0;exitY=0.5;exitDx=0;exitDy=0;entryX=1;entryY=0;entryDx=0;entryDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-26" target="LckcoSEGjGpX4WUM62JQ-23" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="820" y="60" as="sourcePoint" />
            <mxPoint x="735" y="85" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-39" value="" style="endArrow=none;html=1;rounded=0;exitX=0;exitY=0.5;exitDx=0;exitDy=0;entryX=1;entryY=0.5;entryDx=0;entryDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-24" target="LckcoSEGjGpX4WUM62JQ-23" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="900" y="150" as="sourcePoint" />
            <mxPoint x="750" y="120" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-40" value="" style="endArrow=none;html=1;rounded=0;exitX=0;exitY=0.5;exitDx=0;exitDy=0;entryX=1;entryY=0.5;entryDx=0;entryDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-23" target="LckcoSEGjGpX4WUM62JQ-2" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="800" y="230" as="sourcePoint" />
            <mxPoint x="735" y="155" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-41" value="" style="endArrow=none;html=1;rounded=0;exitX=0.5;exitY=0;exitDx=0;exitDy=0;entryX=0;entryY=1;entryDx=0;entryDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-20" target="LckcoSEGjGpX4WUM62JQ-2" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="650" y="120" as="sourcePoint" />
            <mxPoint x="515" y="85" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-42" value="Replication &lt;br&gt;Logs" style="ellipse;whiteSpace=wrap;html=1;aspect=fixed;fillColor=#D5E8D4;fontSize=12;" parent="1" vertex="1">
          <mxGeometry x="640" y="100" width="100" height="100" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-43" value="Write-Ahead &lt;br&gt;Log" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#D5E8D4;strokeColor=#b85450;" parent="1" vertex="1">
          <mxGeometry x="800" y="100" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-44" value="Logical &lt;br&gt;Log" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#D5E8D4;strokeColor=#b85450;" parent="1" vertex="1">
          <mxGeometry x="770" y="180" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-45" value="Statement-Based Replication" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#D5E8D4;strokeColor=#b85450;" parent="1" vertex="1">
          <mxGeometry x="760" y="20" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-46" value="" style="endArrow=none;html=1;rounded=0;entryX=0;entryY=0.5;entryDx=0;entryDy=0;exitX=1;exitY=0.5;exitDx=0;exitDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-2" target="LckcoSEGjGpX4WUM62JQ-42" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="390" y="120" as="sourcePoint" />
            <mxPoint x="440" y="70" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-47" value="" style="endArrow=none;html=1;rounded=0;entryX=1;entryY=0;entryDx=0;entryDy=0;exitX=0;exitY=0.5;exitDx=0;exitDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-45" target="LckcoSEGjGpX4WUM62JQ-42" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="515" y="85" as="sourcePoint" />
            <mxPoint x="650" y="160" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-48" value="" style="endArrow=none;html=1;rounded=0;entryX=1;entryY=0.5;entryDx=0;entryDy=0;exitX=0;exitY=0.5;exitDx=0;exitDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-43" target="LckcoSEGjGpX4WUM62JQ-42" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="770" y="60" as="sourcePoint" />
            <mxPoint x="735" y="125" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-49" value="" style="endArrow=none;html=1;rounded=0;entryX=1;entryY=1;entryDx=0;entryDy=0;exitX=0;exitY=0.5;exitDx=0;exitDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-44" target="LckcoSEGjGpX4WUM62JQ-42" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="810" y="140" as="sourcePoint" />
            <mxPoint x="750" y="160" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-50" value="Replication &lt;br&gt;Lag" style="ellipse;whiteSpace=wrap;html=1;aspect=fixed;fillColor=#67AB9F;fontSize=12;" parent="1" vertex="1">
          <mxGeometry x="550" y="200" width="100" height="100" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-51" value="Read-Scaling" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#67AB9F;strokeColor=#b85450;" parent="1" vertex="1">
          <mxGeometry x="850" y="270" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-52" value="Monotonic &lt;br&gt;Reads" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#67AB9F;strokeColor=#b85450;" parent="1" vertex="1">
          <mxGeometry x="600" y="360" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-53" value="Reading Own &lt;br&gt;Writes" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#67AB9F;strokeColor=#b85450;" parent="1" vertex="1">
          <mxGeometry x="780" y="360" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-54" value="" style="endArrow=none;html=1;rounded=0;entryX=0;entryY=0;entryDx=0;entryDy=0;exitX=1;exitY=1;exitDx=0;exitDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-2" target="LckcoSEGjGpX4WUM62JQ-50" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="390" y="200" as="sourcePoint" />
            <mxPoint x="440" y="150" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-55" value="" style="endArrow=none;html=1;rounded=0;entryX=0.5;entryY=0;entryDx=0;entryDy=0;exitX=0.5;exitY=1;exitDx=0;exitDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-50" target="LckcoSEGjGpX4WUM62JQ-52" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="496" y="131" as="sourcePoint" />
            <mxPoint x="575" y="225" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-56" value="" style="endArrow=none;html=1;rounded=0;entryX=0.25;entryY=0;entryDx=0;entryDy=0;exitX=1;exitY=1;exitDx=0;exitDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-50" target="LckcoSEGjGpX4WUM62JQ-53" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="610" y="310" as="sourcePoint" />
            <mxPoint x="670" y="370" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="LckcoSEGjGpX4WUM62JQ-57" value="" style="endArrow=none;html=1;rounded=0;entryX=0;entryY=0.5;entryDx=0;entryDy=0;exitX=1;exitY=0.5;exitDx=0;exitDy=0;" parent="1" source="LckcoSEGjGpX4WUM62JQ-50" target="LckcoSEGjGpX4WUM62JQ-51" edge="1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="645" y="295" as="sourcePoint" />
            <mxPoint x="820" y="370" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-1" value="Replication Topologies" style="ellipse;whiteSpace=wrap;html=1;aspect=fixed;fillColor=#FFF2CC;fontSize=12;" vertex="1" parent="1">
          <mxGeometry x="10" y="380" width="100" height="100" as="geometry" />
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-2" value="Master-Master&lt;br&gt;Replication" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#CC99FF;strokeColor=#b85450;" vertex="1" parent="1">
          <mxGeometry x="294" y="525" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-3" value="Multi-Datacenter&lt;br&gt;Operation" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#CC99FF;strokeColor=#b85450;" vertex="1" parent="1">
          <mxGeometry x="310" y="620" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-4" value="Offline Operation" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#CC99FF;strokeColor=#b85450;" vertex="1" parent="1">
          <mxGeometry x="280" y="710" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-5" value="Collaborative Editing" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#CC99FF;strokeColor=#b85450;" vertex="1" parent="1">
          <mxGeometry x="130" y="750" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-6" value="Write Conflicts" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#CC99FF;strokeColor=#b85450;" vertex="1" parent="1">
          <mxGeometry x="-20" y="700" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-7" value="Last Write Wins &lt;br&gt;(LWW)" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#CC99FF;strokeColor=#b85450;" vertex="1" parent="1">
          <mxGeometry x="-90" y="585" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-8" value="Circular Topology" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#FFF2CC;strokeColor=#b85450;" vertex="1" parent="1">
          <mxGeometry x="-90" y="270" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-10" value="" style="endArrow=none;html=1;rounded=0;entryX=1;entryY=0.5;entryDx=0;entryDy=0;exitX=0;exitY=0.5;exitDx=0;exitDy=0;" edge="1" parent="1" source="n70Q1aYIcs8bRbfcStc1-2" target="LckcoSEGjGpX4WUM62JQ-5">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="390" y="570" as="sourcePoint" />
            <mxPoint x="440" y="520" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-11" value="" style="endArrow=none;html=1;rounded=0;entryX=1;entryY=0.5;entryDx=0;entryDy=0;exitX=0;exitY=0.5;exitDx=0;exitDy=0;" edge="1" parent="1" source="n70Q1aYIcs8bRbfcStc1-3" target="LckcoSEGjGpX4WUM62JQ-5">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="304" y="565" as="sourcePoint" />
            <mxPoint x="230" y="605" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-12" value="" style="endArrow=none;html=1;rounded=0;entryX=1;entryY=1;entryDx=0;entryDy=0;exitX=0;exitY=0.5;exitDx=0;exitDy=0;" edge="1" parent="1" source="n70Q1aYIcs8bRbfcStc1-4" target="LckcoSEGjGpX4WUM62JQ-5">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="320" y="660" as="sourcePoint" />
            <mxPoint x="230" y="605" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-13" value="" style="endArrow=none;html=1;rounded=0;entryX=0.5;entryY=1;entryDx=0;entryDy=0;exitX=0.5;exitY=0;exitDx=0;exitDy=0;" edge="1" parent="1" source="n70Q1aYIcs8bRbfcStc1-5" target="LckcoSEGjGpX4WUM62JQ-5">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="290" y="750" as="sourcePoint" />
            <mxPoint x="211" y="651" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-14" value="" style="endArrow=none;html=1;rounded=0;entryX=0;entryY=1;entryDx=0;entryDy=0;exitX=0.5;exitY=0;exitDx=0;exitDy=0;" edge="1" parent="1" source="n70Q1aYIcs8bRbfcStc1-6" target="LckcoSEGjGpX4WUM62JQ-5">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="200" y="760" as="sourcePoint" />
            <mxPoint x="165" y="670" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-15" value="" style="endArrow=none;html=1;rounded=0;entryX=0;entryY=0.5;entryDx=0;entryDy=0;exitX=1;exitY=0.5;exitDx=0;exitDy=0;" edge="1" parent="1" source="n70Q1aYIcs8bRbfcStc1-7" target="LckcoSEGjGpX4WUM62JQ-5">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="50" y="710" as="sourcePoint" />
            <mxPoint x="119" y="651" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-16" value="" style="endArrow=none;html=1;rounded=0;entryX=1;entryY=1;entryDx=0;entryDy=0;exitX=0.5;exitY=0;exitDx=0;exitDy=0;" edge="1" parent="1" source="LckcoSEGjGpX4WUM62JQ-5" target="n70Q1aYIcs8bRbfcStc1-1">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="40" y="625" as="sourcePoint" />
            <mxPoint x="100" y="605" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-17" value="Star Topology" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#FFF2CC;strokeColor=#b85450;" vertex="1" parent="1">
          <mxGeometry x="-150" y="360" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-18" value="All-to-All Topology" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#FFF2CC;strokeColor=#b85450;" vertex="1" parent="1">
          <mxGeometry x="-150" y="460" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-19" value="" style="endArrow=none;html=1;rounded=0;entryX=0.75;entryY=1;entryDx=0;entryDy=0;exitX=0.5;exitY=0;exitDx=0;exitDy=0;" edge="1" parent="1" source="n70Q1aYIcs8bRbfcStc1-1" target="n70Q1aYIcs8bRbfcStc1-8">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="390" y="530" as="sourcePoint" />
            <mxPoint x="440" y="480" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-20" value="" style="endArrow=none;html=1;rounded=0;entryX=1;entryY=0.5;entryDx=0;entryDy=0;exitX=0;exitY=0.5;exitDx=0;exitDy=0;" edge="1" parent="1" source="n70Q1aYIcs8bRbfcStc1-1" target="n70Q1aYIcs8bRbfcStc1-17">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="70" y="390" as="sourcePoint" />
            <mxPoint x="10" y="340" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-21" value="" style="endArrow=none;html=1;rounded=0;entryX=1;entryY=0.5;entryDx=0;entryDy=0;exitX=0;exitY=1;exitDx=0;exitDy=0;" edge="1" parent="1" source="n70Q1aYIcs8bRbfcStc1-1" target="n70Q1aYIcs8bRbfcStc1-18">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="35" y="405" as="sourcePoint" />
            <mxPoint x="-20" y="400" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-24" value="Coordinator Node" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#A9C4EB;strokeColor=#b85450;" vertex="1" parent="1">
          <mxGeometry x="870" y="500" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-25" value="Quorums for Reading Writing" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#A9C4EB;strokeColor=#b85450;" vertex="1" parent="1">
          <mxGeometry x="890" y="610" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-26" value="Sloppy Quorums" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#A9C4EB;strokeColor=#b85450;" vertex="1" parent="1">
          <mxGeometry x="860" y="720" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-27" value="Hinted Handoff" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#A9C4EB;strokeColor=#b85450;" vertex="1" parent="1">
          <mxGeometry x="730" y="790" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-28" value="Concurrent Writes" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#A9C4EB;strokeColor=#b85450;" vertex="1" parent="1">
          <mxGeometry x="570" y="770" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-29" value="Conflict Resolution" style="rounded=1;whiteSpace=wrap;html=1;fillColor=#A9C4EB;strokeColor=#b85450;" vertex="1" parent="1">
          <mxGeometry x="505" y="660" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-30" value="" style="endArrow=none;html=1;rounded=0;entryX=0;entryY=0.5;entryDx=0;entryDy=0;exitX=0.5;exitY=0;exitDx=0;exitDy=0;" edge="1" parent="1" source="n70Q1aYIcs8bRbfcStc1-29" target="LckcoSEGjGpX4WUM62JQ-8">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="390" y="740" as="sourcePoint" />
            <mxPoint x="440" y="690" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-31" value="" style="endArrow=none;html=1;rounded=0;entryX=0;entryY=1;entryDx=0;entryDy=0;exitX=0.5;exitY=0;exitDx=0;exitDy=0;" edge="1" parent="1" source="n70Q1aYIcs8bRbfcStc1-28" target="LckcoSEGjGpX4WUM62JQ-8">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="590" y="680" as="sourcePoint" />
            <mxPoint x="690" y="605" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-32" value="" style="endArrow=none;html=1;rounded=0;entryX=0.5;entryY=1;entryDx=0;entryDy=0;exitX=0.5;exitY=0;exitDx=0;exitDy=0;" edge="1" parent="1" source="n70Q1aYIcs8bRbfcStc1-27" target="LckcoSEGjGpX4WUM62JQ-8">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="640" y="780" as="sourcePoint" />
            <mxPoint x="709" y="651" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-33" value="" style="endArrow=none;html=1;rounded=0;entryX=1;entryY=1;entryDx=0;entryDy=0;exitX=0.25;exitY=0;exitDx=0;exitDy=0;" edge="1" parent="1" source="n70Q1aYIcs8bRbfcStc1-26" target="LckcoSEGjGpX4WUM62JQ-8">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="800" y="800" as="sourcePoint" />
            <mxPoint x="755" y="670" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-34" value="" style="endArrow=none;html=1;rounded=0;entryX=1;entryY=0.5;entryDx=0;entryDy=0;exitX=0;exitY=0.5;exitDx=0;exitDy=0;" edge="1" parent="1" source="n70Q1aYIcs8bRbfcStc1-25" target="LckcoSEGjGpX4WUM62JQ-8">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="900" y="730" as="sourcePoint" />
            <mxPoint x="801" y="651" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-35" value="" style="endArrow=none;html=1;rounded=0;entryX=1;entryY=0;entryDx=0;entryDy=0;exitX=0;exitY=0.5;exitDx=0;exitDy=0;" edge="1" parent="1" source="n70Q1aYIcs8bRbfcStc1-24" target="LckcoSEGjGpX4WUM62JQ-8">
          <mxGeometry width="50" height="50" relative="1" as="geometry">
            <mxPoint x="900" y="650" as="sourcePoint" />
            <mxPoint x="820" y="605" as="targetPoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="n70Q1aYIcs8bRbfcStc1-36" value="&lt;div style=&quot;font-size: 16px;&quot;&gt;Group No. 12&lt;/div&gt;&lt;div style=&quot;font-size: 16px;&quot;&gt;Asadullah Al Galib - 21266015&lt;/div&gt;&lt;div style=&quot;font-size: 16px;&quot;&gt;&lt;br style=&quot;font-size: 16px;&quot;&gt;&lt;/div&gt;&lt;div style=&quot;font-size: 16px;&quot;&gt;Md Humaion Kabir Mehedi - RA&lt;/div&gt;&lt;div style=&quot;font-size: 16px;&quot;&gt;Ehsanur Rahman Rhythm - ST&lt;/div&gt;" style="rounded=0;whiteSpace=wrap;html=1;fillColor=#E1D5E7;fontSize=16;" vertex="1" parent="1">
          <mxGeometry x="330" y="880" width="250" height="120" as="geometry" />
        </mxCell>
      </root>
    </mxGraphModel>
  </diagram>
</mxfile>
